<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <meta charset="utf-8" />

    <title>Caelum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import Mapbox GL JS -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- Import Mapbox GL Directions -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
      type="text/css"
    />

    <!-- Import Turf & Polyline -->
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>

    <!--Import Icon-->
    <link rel="icon" href="../static/caelum_logo.png">

    <!--Import Styles-->
    <link rel="stylesheet" href="../static/styles/styles.css"></script>

    <!--Import Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--Import Bootstrap Toggle button-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!--custom scrollbar plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>  
    
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  
    <!--Font Awesome kit-->
    <script src="https://kit.fontawesome.com/6341e10766.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <!-- Sidebar -->
      <nav id="sidebar">
          <div id="dismiss">
              <i class="fas fa-arrow-left"></i>
          </div>

          <div class="sidebar-header">
              <img src="../static/caelum_logo.png" alt="Caelum logo">
              <h1 id="CaelumTitle">Caelum</h1>
          </div>

          <ul class="list-unstyled components">
              <div id="reports">
                  </br>
                  <h3>Settings</h3>
                  <div>
                      <p>Dark mode</p>
                      <input type="checkbox" data-toggle="toggle" data-onstyle="primary" id="dark-toggle">
                      </br>
                  </div>
                  <div>
                      </br>
                      <a href="https://openweathermap.org/weather-conditions#Icon-list" class="btn btn-light" role="button" aria-pressed="true">Legend</a>
                      </br>
                  </div>
              </div>
          </ul>
          <div id="sidebarFooter">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#aboutUsModal" >
              About Us
            </button>
          </div>
      </nav>
      <!--About Us Modal, needs to be outside of nav tag-->
      <div class="modal" id="aboutUsModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">About Us</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="modalbody2" class="modal-body">
              <p>We aim to make Caelum a safer alternative to popular navigation apps by including weather forecasting technology.</p>
              <p>—the B-RAGE team</p>
            </div>            
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>     
          </div>
        </div>
      </div>
    <!--content-->
    <div id="map"></div>
  
    <!--get your location button-->
    <button id="getLocButton" onclick="getLocation()" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#myModal">
      <i class="fas fa-location-arrow"></i></button>
    <script>
      function getLocation() {   
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      function showPosition(position) {
        directions.setOrigin([position.coords.longitude, position.coords.latitude]);
      }
    </script>
    
    <!--Toggle sidebar button-->
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-tasks fa-2x"></i>
    </button>
  
    
    <div class="overlay"></div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--sidebar scripting-->
    <script type="text/javascript">

      $(document).ready(function () {
          $('#dismiss, .overlay').on('click', function () {
              // hide sidebar
              $('#sidebar').removeClass('active');
              // hide overlay
              $('.overlay').removeClass('active');
          });
          $('#sidebarCollapse').on('click', function () {
              // open sidebar
              $('#sidebar').addClass('active');
              // fade in the overlay
              $('.overlay').addClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
        
      });
  </script>

      <!--Erin: mapbox scripting-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script>
          //let iconArray = [];
          mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpbmxhcGtvIiwiYSI6ImNrdmF6MndsZGFqcW4yd21hbDUxMHdmcnAifQ.KVX9P_CItWgU7GZXV9_tVQ';
          const weaKey = "5c2ee4ebcb348c3da5acf641af1e6734";
          const map = new mapboxgl.Map({
              container: 'map', // Specify the container ID
              style: 'mapbox://styles/erinlapko/ckvb4qn6w3j4n14pce06e8f9v', // Specify which map style to use
              center: [-96.334, 30.628], // Specify the starting position [lng, lat] the lng is made neg
              zoom: 13 // Specify the starting zoom
          });

            directions = new MapboxDirections({
              accessToken: mapboxgl.accessToken,
              unit: 'imperial',
              alternatives: true,
            });

          map.addControl(directions, 'top-right');
          map.scrollZoom.enable();
          map.on('load', () => {
              // Listen for the `directions.route` event that is triggered when a user
              // makes a selection and add a symbol that matches the result.
              directions.on('route', (event) => {
                  $(".marker").remove();
                  var styleSpecBox = document.getElementById('json-response');
                  var geojson = {
                      'type': 'FeatureCollection',
                      'features': []
                  }
                  const iconArray = [];
                  const msgArray =[];
                  const duration=[];
                  duration.push(0);
                  getCoordinates();

              function getCoordinates(){
                  for (let i = 0; i < event.route[0].legs[0].steps.length; i++) {
                        console.log('this is an event ',event);
                        coord = JSON.stringify(event.route[0].legs[0].steps[i].intersections[0].location, null, 2);
                        coord = coord.replace(/\r?\n|\r/g, "");
                        coord = coord.replace(/\s/g, '');
                        coord = coord.replace(/,/g, ', ');
                        geojson['features'].push(
                            {
                                'type': 'Feature',
                                'properties': {
                                    'iconSize': [40, 40]
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': JSON.parse(coord)
                                }
                            }
                        );
                        // duration array always has 0 as first index, then sums the duration to get to that step
                        duration.push((event.route[0].legs[0].steps[i].duration)+duration[i]);
                        //console.log(duration);
                        coord = coord.substring(1);
                        coord = coord.substring(0, coord.length - 1);
                        coordinates = coord.split(',');
                     
                        let hour =0;
                        if(duration[i]>3600){
                          // find hour is it at and round down, hour max can go to 48
                          hour= (Math.floor(duration[i]/3600));
                        }
                        console.log("hr",hour);
                        url2 = "https://api.openweathermap.org/data/2.5/onecall?lat=" + coordinates[1] + "&lon=" + coordinates[0] + "&exclude=minutely,daily&units=imperial&appid=" + weaKey;
                        url2 = url2.replace(/\r?\n|\r/g, "");
                        url2 = url2.replace(/\s/g, '');
                        fetch(url2)
                          .then(function (resp) { return resp.json() }) // Convert data to json
                          .then(function (data) {
                            iconArray.push(data.hourly[hour].weather.at(0).icon); // icons for the first route
                            if(hour==0){
                              msgArray.push( "</br><p>The temperature is "+ (data.hourly[hour].temp)+"&#176;F, feels like "+(data.hourly[hour].feels_like)+"&#176;F, with a humidity of "+data.hourly[hour].humidity+"%. The weather will be "+data.hourly[hour].weather.at(0).description+". Wind is blowing at "+data.hourly[hour].wind_speed +"mph. </p>");
                            }else{
                              msgArray.push( "</br><p>In "+hour+" hour(s), the temperature will be "+ (data.hourly[hour].temp)+"&#176;F, feel like "+(data.hourly[hour].feels_like)+"&#176;F, with a humidity of "+data.hourly[hour].humidity+"%. The weather will be "+data.hourly[hour].weather.at(0).description+". Wind will be blowing at "+data.hourly[hour].wind_speed +"mph. </p>");
                            }
                            console.log(data.hourly[hour].dt);
                            console.log(data);
                          })
                          .then(()=> {
                            addMarkers();
                          })
                          .catch(function () {
                              // catch any errors
                          }); 
                  }
              }
              
            function addMarkers(){
                var i = 0;
                const popup = new mapboxgl.Popup({
                  closeButton: true,
                  closeOnClick: true
                })
                for (const marker of geojson.features) {
                  // Create a DOM element for each marker.
                  const el = document.createElement('div');
                  const width = marker.properties.iconSize[0];
                  const height = marker.properties.iconSize[1];
                  const icon = iconArray.at(i);
                  el.className = 'marker';
                  el.style.backgroundImage = `url(https://openweathermap.org/img/wn/${icon}@2x.png)`;
                  el.style.width = `${width}px`;
                  el.style.height = `${height}px`;
                  el.style.backgroundSize = '100%';
                  const message = msgArray.at(i);

                  el.addEventListener('mouseenter', () => {
                    popup.setLngLat(marker.geometry.coordinates).setHTML(message).addTo(map);
                  });

                  // Add markers to the map.
                  new mapboxgl.Marker(el).setLngLat(marker.geometry.coordinates).addTo(map);
             
                    i++
                }
              }
                  //const timer = setInterval(() => { getCoordinates(); alert("updated cool weather"); }, 90000);

            });

              // dark mode toggle, manually created layouts in mapbox studio that change to a 'dark' look
              $('#dark-toggle').on('change', function () {
                if ($(this).prop('checked')) {
                  map.setLayoutProperty('background', 'visibility', 'visible'); 
                  map.setLayoutProperty('settlement-subdivision-label copy', 'visibility', 'visible'); 
                  map.setLayoutProperty('road', 'visibility', 'visible');
                  map.setLayoutProperty('road-motorway-trunk-case-low-navigation copy', 'visibility', 'visible'); 
                  map.setLayoutProperty('water bg', 'visibility', 'visible'); 
                  map.setLayoutProperty('settlement-major-label copy', 'visibility', 'visible');
                }else{
                  map.setLayoutProperty('road', 'visibility', 'none'); 
                  map.setLayoutProperty('settlement-subdivision-label copy', 'visibility', 'none'); 
                  map.setLayoutProperty('background', 'visibility', 'none');  
                  map.setLayoutProperty('road-motorway-trunk-case-low-navigation copy', 'visibility', 'none');  
                  map.setLayoutProperty('water bg', 'visibility', 'none'); 
                  map.setLayoutProperty('settlement-major-label copy', 'visibility', 'none');

                }            
            });


          });
 
      </script>
      <!--Bootstrap JS plugins-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!--Bootstrap Toggle plugin-->
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


  </body>
</html>