<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Demo: Route finding with the Directions API and Turf.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import Mapbox GL JS -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- Import Mapbox GL Directions -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
      type="text/css"
    />

    <!-- Import Turf & Polyline -->
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>

    <!--Import Styles-->
    <link rel="stylesheet" href="../static/styles/styles.css"></script>

    <!--Import Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
<!--////////////////////////////////////////////////////////////////-->
<body>
  
<!--////////////////////////////////////////////////////////////////-->
    <div id="map"></div>
  
      <button id="getLocButton" onclick="getLocation()" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#myModal">Get your location</button>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="modalbody" class="modal-body">
              <!--Erin: GetLocation Script, asks to share loc then pastes coord into modal-->
              <script>
                var x = document.getElementById("modalbody");
                function getLocation() {
                  if (navigator.geolocation) {          
                    navigator.geolocation.getCurrentPosition(showPosition);
                  } else { 
                    x.innerHTML = "Geolocation is not supported by this browser.";
                  }
                }
                function showPosition(position) {
                  x.innerHTML = "Here are your coordinates. Paste these into the starting location box: " + position.coords.longitude 
                  + ", " + position.coords.latitude;
                }
              </script>

            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
        
        
        <!--OLD MODAL
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dimiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
            </div>
            <div class="modal-body">
              <p id="demo"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>-->
    
    <div class="sidebar">
      <img src="../static/caelum_logo.png" alt="logo">
      <h1>Settings</h1>
      <div id="reports"></div>
    </div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpbmxhcGtvIiwiYSI6ImNrdmF6MndsZGFqcW4yd21hbDUxMHdmcnAifQ.KVX9P_CItWgU7GZXV9_tVQ';
      const map = new mapboxgl.Map({
        container: 'map', // Specify the container ID
        style: 'mapbox://styles/mapbox/light-v10', // Specify which map style to use
        center: [-96.334, 30.628], // Specify the starting position [lng, lat] the lng is made neg

        zoom: 13 // Specify the starting zoom
      });

      const directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        unit: 'imperial',
        profile: 'mapbox/driving',
        alternatives: true,
        geometries: 'geojson',
        controls: { instructions: true },
        flyTo: true
      });

      map.addControl(directions, 'top-right');
      map.scrollZoom.enable();

      
      // Erin: buffer function not defined in html?
      //const obstacle = turf.buffer(clearances, 0.25, { units: 'kilometers' });
      let bbox = [0, 0, 0, 0];
      let polygon = turf.bboxPolygon(bbox);

      map.on('load', () => {
        map.addLayer({
          id: 'clearances',
          type: 'fill',
          source: {
            type: 'geojson',
            data: obstacle
          },
          layout: {},
          paint: {
            'fill-color': '#f03b20',
            'fill-opacity': 0.5,
            'fill-outline-color': '#f03b20'
          }
        });

        map.addSource('theRoute', {
          type: 'geojson',
          data: {
            type: 'Feature'
          }
        });

        map.addLayer({
          id: 'theRoute',
          type: 'line',
          source: 'theRoute',
          layout: {
            'line-join': 'round',
            'line-cap': 'round'
          },
          paint: {
            'line-color': '#cccccc',
            'line-opacity': 0.5,
            'line-width': 13,
            'line-blur': 0.5
          }
        });

        // Source and layer for the bounding box
        map.addSource('theBox', {
          type: 'geojson',
          data: {
            type: 'Feature'
          }
        });
        map.addLayer({
          id: 'theBox',
          type: 'fill',
          source: 'theBox',
          layout: {},
          paint: {
            'fill-color': '#FFC300',
            'fill-opacity': 0.5,
            'fill-outline-color': '#FFC300'
          }
        });
      });

      let counter = 0;
      const maxAttempts = 50;
      let emoji = '';
      let collision = '';
      let detail = '';
      const reports = document.getElementById('reports');

      function addCard(id, element, clear, detail) {
        const card = document.createElement('div');
        card.className = 'card';
        // Add the response to the individual report created above
        const heading = document.createElement('div');
        // Set the class type based on clear value
        heading.className =
          clear === true
            ? 'card-header route-found'
            : 'card-header obstacle-found';
        heading.innerHTML =
          id === 0
            ? `${emoji} The route ${collision}`
            : `${emoji} Route ${id} ${collision}`;

        const details = document.createElement('div');
        details.className = 'card-details';
        details.innerHTML = `This ${detail} obstacles.`;

        card.appendChild(heading);
        card.appendChild(details);
        element.insertBefore(card, element.firstChild);
      }

      function noRoutes(element) {
        const card = document.createElement('div');
        card.className = 'card';
        // Add the response to the individual report created above
        const heading = document.createElement('div');
        heading.className = 'card-header no-route';
        emoji = '🛑';
        heading.innerHTML = `${emoji} Ending search.`;

        // Add details to the individual report
        const details = document.createElement('div');
        details.className = 'card-details';
        details.innerHTML = `No clear route found in ${counter} tries.`;

        card.appendChild(heading);
        card.appendChild(details);
        element.insertBefore(card, element.firstChild);
      }

      directions.on('clear', () => {
        map.setLayoutProperty('theRoute', 'visibility', 'none');
        map.setLayoutProperty('theBox', 'visibility', 'none');

        counter = 0;
        reports.innerHTML = '';
      });

      directions.on('route', (event) => {
        // Hide the route and box by setting the opacity to zero
        map.setLayoutProperty('theRoute', 'visibility', 'none');
        map.setLayoutProperty('theBox', 'visibility', 'none');

        if (counter >= maxAttempts) {
          noRoutes(reports);
        } else {
          // Make each route visible
          for (const route of event.route) {
            // Make each route visible
            map.setLayoutProperty('theRoute', 'visibility', 'visible');
            map.setLayoutProperty('theBox', 'visibility', 'visible');

            // Get GeoJSON LineString feature of route
            const routeLine = polyline.toGeoJSON(route.geometry);

            // Create a bounding box around this route
            // The app will find a random point in the new bbox
            bbox = turf.bbox(routeLine);
            polygon = turf.bboxPolygon(bbox);

            // Update the data for the route
            // This will update the route line on the map
            map.getSource('theRoute').setData(routeLine);

            // Update the box
            map.getSource('theBox').setData(polygon);

            const clear = turf.booleanDisjoint(obstacle, routeLine);

            if (clear === true) {
              collision = 'does not intersect any obstacles!';
              detail = `takes ${(route.duration / 60).toFixed(
                0
              )} minutes and avoids`;
              emoji = '✔️';
              map.setPaintProperty('theRoute', 'line-color', '#74c476');
              // Hide the box
              map.setLayoutProperty('theBox', 'visibility', 'none');
              // Reset the counter
              counter = 0;
            } else {
              // Collision occurred, so increment the counter
              counter = counter + 1;
              // As the attempts increase, expand the search area
              // by a factor of the attempt count
              polygon = turf.transformScale(polygon, counter * 0.01);
              bbox = turf.bbox(polygon);
              collision = 'is bad.';
              detail = `takes ${(route.duration / 60).toFixed(
                0
              )} minutes and hits`;
              emoji = '⚠️';
              map.setPaintProperty('theRoute', 'line-color', '#de2d26');

              // Add a randomly selected waypoint to get a new route from the Directions API
              const randomWaypoint = turf.randomPoint(1, { bbox: bbox });
              directions.setWaypoint(
                0,
                randomWaypoint['features'][0].geometry.coordinates
              );
            }
            // Add a new report section to the sidebar
            //Erin: turns off cards in settings pane
            //addCard(counter, reports, clear, detail);
          }
        }
      });
    </script>
    <!--Bootstrap JS plugins-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>