<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <meta charset="utf-8" />

    <title>Caelum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import Mapbox GL JS -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- Import Mapbox GL Directions -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
      type="text/css"
    />

    <!-- Import Turf & Polyline -->
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>

    <!--Import Icon-->
    <link rel="icon" href="../static/caelum_logo.png">

    <!--Import Styles-->
    <link rel="stylesheet" href="../static/styles/styles.css"></script>

    <!--Import Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--Import Bootstrap Toggle button-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!--custom scrollbar plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>  
    
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  
    <!--Font Awesome kit-->
    <script src="https://kit.fontawesome.com/6341e10766.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <!-- Sidebar -->
      <nav id="sidebar">
          <div id="dismiss">
              <i class="fas fa-arrow-left"></i>
          </div>

          <div class="sidebar-header">
              <img src="../static/caelum_logo.png" alt="Caelum logo">
              <h1 id="CaelumTitle">Caelum</h1>

          </div>

          <ul class="list-unstyled components">
              <div id="reports">
              </br>
              <h3>Settings</h3>
                <p>Storm severity to avoid:</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                  <label class="form-check-label" for="inlineRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                  <label class="form-check-label" for="inlineRadio5">5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" checked value="option6">
                  <label class="form-check-label" for="inlineRadio6">None</label>
                </div>
            <div>
              <p>Dark mode</p>
                <input type="checkbox"  data-toggle="toggle" data-onstyle="primary" id="dark-toggle" >
              </br>
              </br>
              <p>Colorblind mode</p>
                <input type="checkbox"  data-toggle="toggle" data-onstyle="primary">
            </div>
            </div>
          </ul>
          <div id="sidebarFooter">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#aboutUsModal" >
              About Us
            </button>
          </div>
      </nav>
      <!--About Us Modal, needs to be outside of nav tag-->
      <div class="modal" id="aboutUsModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">About Us</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="modalbody2" class="modal-body">
              <p>We aim to make Caelum a safer alternative to popular navigation apps by including weather forecasting technology.</p>
              <p>—the B-RAGE team</p>
            </div>            
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>     
          </div>
        </div>
      </div>
    <!--content-->
    <div id="map"></div>
  
    <!--get your location button-->
    <button id="getLocButton" onclick="getLocation()" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#myModal">Get your location</button>
    <script>
      function getLocation() {   
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      function showPosition(position) {
       
        directions.setOrigin([position.coords.longitude, position.coords.latitude]);
      }
    </script>
    
    <!--Toggle sidebar button-->
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-tasks fa-2x"></i>
    </button>
  
    <!--Legend Box-->
    <div id="legend">
      <i class="fas fa-snowflake"></i><label>&nbsp;Snowstorm</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-bolt"></i><label>&nbsp;Thunderstorm</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-umbrella"></i><label>&nbsp;Rain</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-cloud"></i><label>&nbsp;Overcast</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-sun"></i><label>&nbsp;Sunny</label>&nbsp;&nbsp;&nbsp;
      <br>
      <i class="fas fa-square" style = "color:darkgreen" id = "veryLightBox"></i><label>&nbsp;Very Light</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-square" style = "color:limegreen"id = "lightBox"></i><label>&nbsp;Light</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-square" style = "color:yellow" id = "moderateBox"></i><label>&nbsp;Moderate</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-square" style = "color:orangered" id = "heavyBox"></i><label>&nbsp;Heavy</label>&nbsp;&nbsp;&nbsp;
      <i class="fas fa-square" style = "color:darkred" id = "severeBox"></i><label>&nbsp;Severe</label>

      <p></p>
    </div>  
    <div class="overlay"></div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!--sidebar scripting-->
    <script type="text/javascript">

      $(document).ready(function () {
          $("#sidebar").mCustomScrollBar({
              theme: "minimal"
          });
          $('#dismiss, .overlay').on('click', function () {
              // hide sidebar
              $('#sidebar').removeClass('active');
              // hide overlay
              $('.overlay').removeClass('active');
          });
          $('#sidebarCollapse').on('click', function () {
              // open sidebar
              $('#sidebar').addClass('active');
              // fade in the overlay
              $('.overlay').addClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
          // if dark toggle on, create dark mode map, else create light mode map
          $('#dark-toggle').on('change', function () {
            let checkbox = document.getElementById("dark-toggle");
              if ($(this).prop('checked')) {
                  const map = new mapboxgl.Map({
                      container: 'map', // Specify the container ID
                      style: 'mapbox://styles/mapbox/dark-v10', // Specify which map style to use
                      // mapbox://styles/erinlapko/ckvb4qn6w3j4n14pce06e8f9v -- one we created at first
                      center: [-96.334, 30.628], // Specify the starting position [lng, lat] the lng is made neg
                      zoom: 13// Specify the starting zoom
                      
                  });

                  directions = new MapboxDirections({
                      accessToken: mapboxgl.accessToken,
                      alternatives: true
                  });
                  map.addControl(directions, 'top-right');
                  map.scrollZoom.enable();
                  
            }else{
              const map = new mapboxgl.Map({
                      container: 'map', // Specify the container ID
                      style: 'mapbox://styles/mapbox/light-v10', // Specify which map style to use
                      // mapbox://styles/erinlapko/ckvb4qn6w3j4n14pce06e8f9v -- one we created at first
                      center: [-96.334, 30.628], // Specify the starting position [lng, lat] the lng is made neg
                      zoom: 13 // Specify the starting zoom
                  });

                  directions = new MapboxDirections({
                      accessToken: mapboxgl.accessToken,
                      alternatives: true
                  });
                  map.addControl(directions, 'top-right');
                  map.scrollZoom.enable();
            }            
          });
      });
  </script>

      <!--Erin: mapbox scripting-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script>


          mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpbmxhcGtvIiwiYSI6ImNrdmF6MndsZGFqcW4yd21hbDUxMHdmcnAifQ.KVX9P_CItWgU7GZXV9_tVQ';
          const weaKey = "12cf850d548b2368021bf25442325ebb";
          const map = new mapboxgl.Map({
              container: 'map', // Specify the container ID
              style: 'mapbox://styles/mapbox/light-v10', // Specify which map style to use
              // mapbox://styles/erinlapko/ckvb4qn6w3j4n14pce06e8f9v -- one we created at first
              center: [-96.334, 30.628], // Specify the starting position [lng, lat] the lng is made neg
              zoom: 13 // Specify the starting zoom
          });

            directions = new MapboxDirections({
              accessToken: mapboxgl.accessToken,
              unit: 'imperial',
              alternatives: true,
            });

          map.addControl(directions, 'top-right');
          map.scrollZoom.enable();
          map.on('load', () => {
              // Listen for the `directions.route` event that is triggered when a user
              // makes a selection and add a symbol that matches the result.
              directions.on('route', (event) => {
                  const styleSpecBox = document.getElementById('json-response');

                  // coord = JSON.stringify(event.route, null, 2);
                  for (let i = 0; i < event.route[0].legs[0].steps.length; i++) {
                      coord = JSON.stringify(event.route[0].legs[0].steps[i].intersections[0].location, null, 2);
                      //alert(JSON.stringify(event.route[0].legs[0].steps[i].intersections[0].location, null, 2));

                      coord = coord.substring(1);
                      coord = coord.substring(0, coord.length - 1);
                      coordinates = coord.split(',');
                      data = weaDatagetter(coordinates);
                      //alert(JSON.stringify(data));

                  }

              });
          });

          function weaDatagetter(x) {
              url = "https://api.openweathermap.org/data/2.5/weather?lat=" + x[1] + "&lon=" + x[0] + "&appid=" + weaKey
              url = url.replace(/\r?\n|\r/g, "");
              url = url.replace(/\s/g, '');
              //alert(url);
              fetch(url)
                  .then(function (resp) { return resp.json() }) // Convert data to json
                  .then(function (data) {
                      console.log(data);
                  })
                  .catch(function () {
                      // catch any errors
                  });

          }

      </script>
      <!--Bootstrap JS plugins-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!--Bootstrap Toggle plugin-->
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


  </body>
</html>