
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
#sidebar {
  width: 20%;
  position: fixed;
  top: 0;
  left: -20%;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px ;
  border-bottom: 1px solid #47748b;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebarCollapse{
  float: left;
  left:  1.5%;
  top: 1.5%;
  position: fixed;
}

#map {
  position: absolute;
  top: 0%;
  bottom: 0;
  width: 100%;
}

input[type=radio]{
  right: 2%;
}

#getLocButton{
  float: right;
  right:  22%;
  top: 1.5%;
  position: fixed;
}

#CaelumTitle{
  padding-top: 5%;
}

h1{
  text-align: left;
}

img{
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  right: 2%;
}

.card {
  font-size: small;
  border-bottom: solid #d3d3d3 2px;
  margin-bottom: 6px;
}

.card-header {
  font-weight: bold;
  padding: 6px;
}

.no-route {
  background-color: #d3d3d3;
  color: #f00;
}

.obstacle-found {
  background-color: #d3d3d3;
  color: #fff;
}

.route-found {
  background-color: #33a532;
  color: #fff;
}

.card-details {
  padding: 3px 6px;
}
